---
services:
  pytriage:
    build:
      context: ..
      dockerfile: Docker/Dockerfile
      no_cache: true
    image: pytriage:4.0.0
    container_name: pytriage-preprod
    volumes:
      - /data/hayabusa:/hayabusa
      - /data:/data
      - /data/log:/log
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - USE_KEYCLOAK=False
      - KEYCLOAK_SERVER_URL=
      - KEYCLOAK_REALM=
      - KEYCLOAK_CLIENT_ID=
      - KEYCLOAK_CLIENT_SECRET=
      - REDIRECT_URI=
      - KEYCLOAK_ADMIN_GROUP=ADMIN
      - KEYCLOAK_USERS_GROUP=CERT
    ports:
      - 443:8080
  worker:
    image: pytriage:4.0.0
    command: celery --app triage.celery worker --loglevel=info
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      pytriage:
        condition: service_started
      redis:
        condition: service_started
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    security_opt:
      - apparmor:unconfined
    volumes:
      - /data/hayabusa:/hayabusa
      - /data:/data
      - /data/log:/log
      - /winlogbeat:/winlogbeat
      - /var/run/docker.sock:/var/run/docker.sock
  redis:
    image: redis:8.2.2
  plaso:
    image: log2timeline/plaso:20240317 # must be the same in triage.yaml
    command: ["exit 0"]

  filebeat:
    image: elastic/filebeat:8.9.1 #must be the same in triage.yaml
    command: ["exit 0"]

  volatility:
    build:
      context: ..
      dockerfile: Docker/Dockerfile-volatility
      no_cache: true
    image: volatility3:2.26.2 #must be the same in triage.yaml
    command: ["exit 0"]