general:
  upload: /data
  logfolder: /log
  hayabusa_bin_path: "/hayabusa/hayabusa"

pipelines:
  hayabusa: 5057
  iis: 5053
  evtxparser: 5054
  adtimeline: 5056
  volatility: 5064
  o365: 5049
  fortinet: 5065
  adaudit: 5066
  orc: 5067
  filebeat: 5058
  selfassessment: 5050
  mail: 5061
  google: 5051
  psort: 5051

administration:
  Timesketch:
    active: false
    url: "https://xxx"
    username: xxx
    password: xxx
  Elastic:
    active: false
    url: "https://xxx"
    port: 9200
    username: xxx
    password: xxx
    index_patterns:
      - "ir-lin-*"
      - "ir-orc-*"
      - "ir-m365-*"
      - "ir-ad-*"
      - "secop-ad-*"
      - "ir-log-*"
      - "dlq-*"
      - "ir-evtx-*"
  Logstash:
    active: false
    url: "https://xxx"
  Kibana:
    url: "https://xxx"
  Winlogbeat:
    active: false
    folder: /winlogbeat

volumes:
  data: /data

docker_images:
  plaso:
    image: log2timeline/plaso
    tag: "20240317"
  filebeat:
    image: elastic/filebeat
    tag: "8.9.1"
  volatility3:
    image: volatility3
    tag: "2.26.2"

artifacts:
  apache:
    - /var/log/apache/*access.log*
    - /var/log/apache2/*access.log*
    - /var/log/apache/*error.log*
    - /var/log/apache2/*error.log*
    - /etc/httpd/logs/*access.log*
    - /etc/httpd/logs/*error.log*
  auditd:
    - /var/log/audit/audit.log*
  nginx:
    - /var/log/nginx/*access.log*
    - /var/log/nginx/*error.log*
  suricata:
    - /var/log/*eve.json*
  system:
    - /var/log/*auth.log*
    - /var/log/syslog*
    - /var/log/btmp*
    - /var/log/wtmp*
    - /var/log/utmp*
  tomcat:
    - /var/log/tomcat6/*catalina*

plaso_parsers:
  - "!mft"
  - "!usnjrnl"
  - "!filestat"

