{% extends 'base.html' %}

{% block main_container %}
<div class="row">
  <div class="col-6">
    <div
      id="collecte_infos"
      class="my-3 p-3 bg-white rounded box-shadow card"
    >
      <div class="card-body">
        <h5 class="card-title">Informations
        <div id="collecte_running_div" class="spinner-grow spinner-grow-sm text-primary float-end" role="status" style="display: none;">
          <span class="visually-hidden">Loading...</span>
        </div>   
        </h5>           
        <div id="collecte_name_row" class="row">
          <pre id="collecte_name_title" class="col-3">Name</pre>
          <pre id="collecte_name_value" class="col-9">
{{config.archive.name}}</pre
          >
        </div>
        <div id="collecte_sha_row" class="row">
          <pre id="collecte_sha_title" class="col-3">SHA256</pre>
          <pre id="collecte_sha_value" class="col-9">
{{config.archive.sha256}}</pre
          >
        </div>
        <div id="collecte_uuid_row" class="row">
          <pre id="collecte_uuid_title" class="col-3">UUID</pre>
          <pre id="collecte_uuid_value" class="col-9">
{{config.uuid}}</pre
          >
        </div>
        <div id="collecte_client_row" class="row">
          <pre id="collecte_client_title" class="col-3">Client</pre>
          <pre id="collecte_client_value" class="col-9">
{{config.general.client}}</pre
          >
        </div>
        <div id="collecte_hostname_row" class="row">
          <pre id="collecte_hostname_title" class="col-3">Hostname</pre>
          <pre id="collecte_hostname_value" class="col-9">
{{config.general.hostname}}</pre
          >
        </div>
        <div id="collecte_triagetime_row" class="row">
          <pre id="collecte_triagetime_title" class="col-3">Triage time</pre>
          <pre id="collecte_triagetime_value" class="col-9">{{config.general.triagetime}}</pre>
        </div>
        <div id="collecte_timesketchid_row" class="row">
          <pre id="collecte_timesketchid_title" class="col-3">
Timesketch ID</pre
          >
          <pre id="collecte_timesketchid_value" class="col-9">
{{config.general.timesketch_id}}</pre
          >
        </div>
        <div id="collecte_task_row" class="row">
          <pre id="collecte_task_title" class="col-3">Task</pre>
          <pre id="collecte_task_value" class="col-9">{{config.task_id}}</pre>
        </div>
        <div id="collecte_logfile_row" class="row">
          <pre id="collecte_logfile_title" class="col-3">Log File <a id="download_collecte_log" href="/download_log_file?id={{config.log_file}}" data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-title="Download log file"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/></svg></a></pre>
          <pre id="collecte_logfile_value" class="col-9">
{{config.log_file}}
          </pre>
        </div>
        {% if config.uuid %}
        <div id="collecte_btn_row" class="row">
          <div class="col-6">
            <div
              id="download_div"
              class=""
            >
              <div id="download_btn_div" style="text-align: center">
              <a
                id="download_collecte_a"
                class="btn btn-outline-primary my-2 my-sm-0"
                href="/download?id={{config.uuid}}"
                >Télécharger la collecte</a
              >
              </div>
            </div>
          </div>
          <div class="col-6">
            <div
              id="download_results_div"
              class=""
              style="text-align: center"
            >
              <a
                id="download_results_a"
                class="btn btn-outline-success my-2 my-sm-0"
                href="/results/{{config.uuid}}"
                >Télécharger les résultats</a
              >
            </div>
          </div>
        </div>
        {%endif%}
      </div>
    </div>
    
  </div>
  <div class="col-6">
    <div
      id="collecte_plugins"
      class="my-3 p-3 bg-white rounded box-shadow card"
    >
      <div class="card-body">
        <h5 class="card-title">Plugins executed
          <a
            class=""
            data-bs-toggle="popover"
            data-bs-html="true"
            data-bs-trigger="focus"
            data-bs-custom-class="custom-popover"
            data-bs-title="Workflow status"
            data-bs-content="<div class='workflow_status_pending'> Pending</div><div class='workflow_status_off'> Off</div><div class='workflow_status_error'> Error</div><div class='workflow_status_finished'> Finished</div><div class='workflow_status_started'> Started</div>"
            href="#"
            >
            <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 512 512"
            >
              <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/>
            </svg>
            </a>
        </h5>
        
        <div id="collecte_plugins_div"></div>
      </div>
      <div class="card-body">
        <button
              id="replayForm"
              class="btn btn-outline-primary my-2 my-sm-0"
            >
              Replay
            </button>
          <button
              id="stopForm"
              class="btn btn-outline-danger my-2 my-sm-0"
              style="display: none;"
            >
              Stop
            </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
<script>
  var _myconfig = JSON.parse('{{ config | tojson | safe }}');
  $(document).ready(function () {
    const popoverTriggerList = document.querySelectorAll(
      '[data-bs-toggle="popover"]'
    );
    const popoverList = [...popoverTriggerList].map(
      (popoverTriggerEl) => new bootstrap.Popover(popoverTriggerEl)
    );
    const tooltipTriggerList = document.querySelectorAll(
      '[data-bs-toggle="tooltip"]'
    );
    const tooltipList = [...tooltipTriggerList].map(
      (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
    );
    getAllClients();
    //getlogs(_myconfig.uuid);
    getMachineUsage();
    getRunningCollectes(mainpage=false, uuid=_myconfig.uuid)
    populate_plugins_infos(_myconfig);
    $("#loading_div").hide();
  });

  $("#stopForm").click(function (e) {
    stop_collecte(taskid=_myconfig.task_id, csrf_token='{{ csrf_token() }}', frombutton=true);
    get_collecte_status(_myconfig.task_id);
  });

  $("#replayForm").click(function (e) {
    replay_collecte(config=_myconfig, csrf_token="{{ csrf_token() }}");
  }); // Replay the form
  
  //setInterval(function(){getlogs(_myconfig.uuid)}, 30000);
  setInterval(function(){getCollecte(_myconfig.uuid)}, 30000);
  setInterval(function(){getRunningCollectes(mainpage=false, uuid=_myconfig.uuid)}, 30000);
  setInterval(getMachineUsage, 30000);
  setInterval(getAllClients, 60000);
</script>
{% endblock %}