{% extends 'base.html' %}

{% block main_container %} 
<div class="row">
  <div class="col mb-4">
    <div
      id="collecte_infos"
      class="my-3 p-3 bg-white rounded box-shadow card"
    >
      <div class="card-body">
        <h5 class="card-title">
          Informations sur la collecte
          <span
            class="badge rounded-pill text-bg-light"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-title="Création automatique du sketch dans Timesketch"
            >?</span
          >
        </h5>
        <form
          id="postData"
          name="postData"
          method="post"
          enctype="multipart/form-data"
        >
          <div id="config_properties">
            <div class="form-floating mb-3">
              <input
                id="input_client_name"
                name="client"
                type="text"
                class="form-control"
                aria-label="nom du client"
                autocomplete="off"
                placeholder="Client"
                required
                autofocus
              />
              <label for="input_client_name">Client</label>
            </div>

            <div class="form-floating mb-3">
              <input
                id="input_hostname"
                name="hostname"
                type="text"
                class="form-control"
                aria-label="hostname de la machine collectée"
                autocomplete="off"
                placeholder="Hostname"
                required
              />
              <label for="input_hostname">Hostname machine</label>
            </div>

            <div class="mb-3">
              <div id="div_plugin_selection_description" class="form-text mb-1">Type de collecte:</div>
              <select id="select_plugin" name="selected_plugin" class="form-select" aria-label="Collection type selector">
                <option selected value="generaptor_windows">Generaptor Windows</option>
                <option value="generaptor_linux">Generaptor Linux</option>
                <option value="kape">Kape</option>
                <option value="orc">DFIR-Orc</option>
                <option value="mail">Mail</option>
                <option value="o365">DFIR-O365RC</option>
                <option value="uac">UAC</option>
                <option value="adtimeline">ADTimeline</option>
                <option value="adaudit">ADAudit</option>
                <option value="volatility">Volatility</option>
                <option value="google">Google Workspace</option>
              </select>
            </div>

            <div id="windows_sub_modules" class="form-floating mb-3 generaptor_plugin kape_plugin orc_plugin">
              <div id="windows_options_description" class="form-text mb-1">Options disponibles:</div>
              <ul
                id="ul_windows_sub_modules"
                class="list-group mb-2 generaptor_sub_modules kape_sub_modules orc_sub_modules"
              >
                <li class="list-group-item generaptor_sub_modules kape_sub_modules orc_sub_modules">
                  <div class="row" id="parser_row">
                    
                  </div>
                </li>
              </ul>

              <div id="collecte_options">
                <!-- populated in javascript function -->
              </div>
            </div>
          </div>

          <div id="div_description_collecte" class="form-text mb-1">
          <!-- populated in javascript function -->
          </div>
          <div id="archive_file" class="input-group mb-3">
            <input
              class="form-control"
              type="file"
              id="archive"
              name="archive"
              accept=".zip, .tar, .tar.gz, .csv, .raw, .7z, .7z.p7b, .mem"
              aria-describedby="div_description_collecte"
              required
            />
          </div>
          <button
            id="submitForm"
            class="btn btn-outline-primary my-2 my-sm-0"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>


  <div class="col mb-4">
    <div class="col">
      <div
        id="standalone_collecte"
        class="my-3 p-3 bg-white rounded box-shadow card"
        style="text-align: center"
      >
        <h5 class="card-title">Analyse rapide</h5>
        <div id="stabndalone_collect_card_body" class="card-body">
          <!-- Button trigger modal -->
          <pre style="text-align: left">
        Section pour envoyer sur ELK:
        - Fichier JSONL de résultats Hayabusa
        - Archive ZIP contenant des fichiers EVTX (parsing Winlogbeat OU python)
        - Archive ZIP contenant des logs Fortinet (parsing Filebeat)
        - Archive ZIP contenant des logs Forcepoint (parsing Filebeat)
        <span class="badge text-bg-warning" style="display:none">Attention au parsing</span> <span class="badge text-bg-light">Regex: (\w+)=(?:"([^"]*)"|(\S+))</span>
        </pre>
          <button
            type="button"
            class="btn btn-outline-primary"
            data-bs-toggle="modal"
            data-bs-target="#standaloneModal"
          >
            Envoyer fichier
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="standaloneModal"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="standaloneModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="standaloneModalLabel">
                    Standalone file
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div id="standaloneModal_config_properties">
                    <div class="form-floating mb-3">
                      <!-- <span class="input-group-text" for="standaloneModal_input_client_name">Client</span > -->
                      <input
                        id="standaloneModal_input_client_name"
                        name="client"
                        type="text"
                        class="form-control"
                        autocomplete="off"
                        placeholder="Client"
                        required
                      />
                      <label for="standaloneModal_input_client_name"
                        >Client</label
                      >
                    </div>
                    <div class="form-floating mb-3">
                      <input
                        id="standaloneModal_input_hostname"
                        name="hostname"
                        type="text"
                        class="form-control"
                        aria-label="hostname de la machine collectée"
                        autocomplete="off"
                        placeholder="Hostname"
                        required
                      />
                      <label for="standaloneModal_input_hostname"
                        >Hostname</label
                      >
                    </div>

                    <div class="form-floating mb-3">
                      <select
                        class="form-select"
                        id="standaloneModal_run_plugin"
                        placeholder="Plugin"
                        required
                      >
                        <option selected value="hayabusa">
                          Hayabusa
                        </option>
                        <option value="evtxparser">EVTX</option>
                        <option value="winlogbeat">WinlogBeat</option>
                        <option value="fortinet">Fortinet</option>
                        <option value="forcepoint">Forcepoint</option>
                      </select>
                      <label for="standaloneModal_run_plugin"
                        >Plugin</label
                      >
                      <div class="invalid-feedback">
                        Please select a valid plugin.
                      </div>
                    </div>
                    <div id="div_standaloneModal_file" class="form-text mb-1" style="text-align: left;">Fichier de collecte</div>
                    <div
                      id="standaloneModal_div_file"
                      class="input-group mb-3"
                    >
                      <input
                        class="form-control"
                        type="file"
                        id="standaloneModal_file"
                        name="archive"
                        accept=".json, .jsonl, .zip"
                        required
                        aria-describedby="div_standaloneModal_file"
                      />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    id="standaloneModal_close"
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    id="standaloneModal_send"
                    type="button"
                    class="btn btn-outline-primary"
                  >
                    Run
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        id="main_running_collecte_div"
        class="col my-3 p-3 bg-white rounded box-shadow card"
        style="text-align: center"
      >
        <h5 class="card-title">Collectes en cours de traitement</h5>
        <div id="running_collecte_div" class="card-body row">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
<script>
  $(document).ready(function () {
    const popoverTriggerList = document.querySelectorAll(
      '[data-bs-toggle="popover"]'
    );
    const popoverList = [...popoverTriggerList].map(
      (popoverTriggerEl) => new bootstrap.Popover(popoverTriggerEl)
    );
    const tooltipTriggerList = document.querySelectorAll(
      '[data-bs-toggle="tooltip"]'
    );
    const tooltipList = [...tooltipTriggerList].map(
      (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
    );
    
    const _PLUGIN = {
      "kape": {
        "parser": [{"name": "windows_evtx_python", "checked": false}, {"name": "windows_evtx_winlogbeat", "checked": true}, {"name": "windows_hayabusa", "checked": true}, {"name": "windows_iis", "checked": true}, {"name": "windows_plaso", "checked": true}, {"name": "windows_registry", "checked": true}, {"name": "windows_mft", "checked": true}, {"name": "windows_usnjrnl", "checked": true}, {"name": "windows_prefetch", "checked": true}, {"name": "windows_mplog", "checked": true}, {"name": "windows_activitiescache", "checked": true}, {"name": "windows_recyclebin", "checked": true}, {"name": "windows_psreadline", "checked": true}, {"name": "windows_rdpcache", "checked": true}, {"name": "windows_lnk", "checked": true}, {"name": "windows_jumplist", "checked": true}, {"name": "windows_tasks", "checked": true}, {"name": "windows_webcache", "checked": true}],
        "files": [],
        "private_key_secret": false,
        "input_file_desc": "Expected ZIP archive containing VHDX file"
      }, 
      "uac": {
        "parser": [{"name": "uac_filebeat", "checked": true}, {"name": "uac_plaso", "checked": true}],
        "files": [],
        "private_key_secret": false,
        "input_file_desc": "Expected TAR archive"
      },
      "adtimeline": {
        "parser": [],
        "files": [],
        "private_key_secret": false,
        "input_file_desc": "Expected CSV file"
      }, 
      "volatility": {
        "parser": [{"name": "volatility_pslist", "checked": true}, {"name": "volatility_pstree", "checked": true}, {"name": "volatility_netscan", "checked": true}, {"name": "volatility_netstat", "checked": true}],
        "files": [],
        "private_key_secret": false,
        "input_file_desc": "Expected memory dump file"
      }, 
      "o365": {
        "parser": [],
        "files": [],
        "private_key_secret": false,
        "input_file_desc": "Expected ZIP archive produced by DFIR-O365RC"
      }, 
      "adaudit": {
        "parser": [],
        "files": [],
        "private_key_secret": false,
        "input_file_desc": "Expected ADAudit generated ZIP archive"
      }, 
      "generaptor_windows": {
        "parser": [{"name": "windows_evtx_python", "checked": false}, {"name": "windows_evtx_winlogbeat", "checked": true}, {"name": "windows_hayabusa", "checked": true}, {"name": "windows_iis", "checked": true}, {"name": "windows_plaso", "checked": true}, {"name": "windows_registry", "checked": true}, {"name": "windows_mft", "checked": true}, {"name": "windows_usnjrnl", "checked": true}, {"name": "windows_prefetch", "checked": true}, {"name": "windows_mplog", "checked": true}, {"name": "windows_activitiescache", "checked": true}, {"name": "windows_recyclebin", "checked": true}, {"name": "windows_psreadline", "checked": true}, {"name": "windows_rdpcache", "checked": true}, {"name": "windows_lnk", "checked": true}, {"name": "windows_jumplist", "checked": true}, {"name": "windows_tasks", "checked": true}, {"name": "windows_webcache", "checked": true}],
        "files": [{"name": "generaptor_private_key_file", "description": "Private key file (.pem)", "accept": ".pem"}],
        "private_key_secret": true,
        "input_file_desc": "Expected Generaptor generated ZIP archive"
      },
      "generaptor_linux": {
        "parser": [{"name": "linux_filebeat", "checked": true}, {"name": "linux_plaso", "checked": true}],
        "files": [{"name": "generaptor_private_key_file", "description": "Private key file (.pem)", "accept": ".pem"}],
        "private_key_secret": true,
        "input_file_desc": "Expected Generaptor generated ZIP archive"
      }, 
      "orc": {
        "parser": [{"name": "windows_evtx_python", "checked": false}, {"name": "windows_evtx_winlogbeat", "checked": true}, {"name": "windows_hayabusa", "checked": true}, {"name": "windows_plaso", "checked": true}, {"name": "windows_registry", "checked": true}, {"name": "windows_mft", "checked": true}, {"name": "windows_usnjrnl", "checked": true}, {"name": "windows_prefetch", "checked": true}, {"name": "windows_mplog", "checked": true}, {"name": "windows_activitiescache", "checked": true}, {"name": "windows_recyclebin", "checked": true}, {"name": "windows_psreadline", "checked": true}, {"name": "windows_rdpcache", "checked": true}, {"name": "windows_lnk", "checked": true}, {"name": "windows_jumplist", "checked": true}, {"name": "windows_tasks", "checked": true}, {"name": "windows_webcache", "checked": true}],
        "files": [{"name": "orc_keyfile", "description": "Private key file (.key)", "accept": ".key"}],
        "private_key_secret": false,
        "input_file_desc": "Expected DFIR-ORC generated 7z / 7zp7b archive, if encrypted give private key"
      }, 
      "mail": {
        "parser": [{"name": "mail_attachments", "checked": true}],
        "files": [],
        "private_key_secret": false,
        "input_file_desc": "Expected ZIP archive containing PST/MBOX files"
      }, 
      "google": {
        "parser": [],
        "files": [],
        "private_key_secret": false,
        "input_file_desc": "Expected Google Workspace generated ZIP archive"
      }
    }
    
    function _display_plugin_options(plugin){
      _elem = ""
      for( const [key, value] of Object.entries(_PLUGIN[plugin].parser))
      {
        _checked = value.checked ? "checked" : ""
        _elem += '<div class="col-md-auto mb-3 generaptor_sub_modules kape_sub_modules orc_sub_modules" style="border-radius: var(--bs-border-radius-pill) ; border: 1px dashed #6ba4f7; margin-right: 1rem;">\
            <input\
              id="'+value.name+'"\
              name="'+value.name+'"\
              class="form-check-input me-1 generaptor_sub_modules kape_sub_modules orc_sub_modules"\
              type="checkbox"\
              value="" '+ _checked +'\
            />\
            <label\
              class="form-check-label"\
              for="'+value.name+'"\
              >'+value.name+'</label\
            >\
          </div>';
      }
      $('#parser_row').html(_elem);
      
      _description_input_file = 'Fichier de collecte de la machine<span\
              id="description_input_file"\
              class="badge rounded-pill text-bg-light generaptor_plugin"\
              data-bs-toggle="tooltip"\
              data-bs-placement="right"\
              data-bs-title="'+_PLUGIN[plugin].input_file_desc+'"\
              style=""\
              >?</span>';
      $('#div_description_collecte').html(_description_input_file);
      $('#description_input_file').tooltip();
      
      _collecte_options = "";
      for( var _file in _PLUGIN[plugin].files)
      {
        _collecte_options += '<div id="div_private_key_file" class="form-text mb-1">Clé privée de la collecte</div>\
                <div class="input-group mb-3">\
                  <input\
                    class="form-control"\
                    type="file"\
                    id="private_key_file"\
                    name="'+_PLUGIN[plugin].files[_file].name+'"\
                    accept="'+_PLUGIN[plugin].files[_file].accept+'"\
                    data-bs-toggle="tooltip"\
                    data-bs-placement="bottom"\
                    data-bs-title="'+_PLUGIN[plugin].files[_file].description+'"\
                    aria-describedby="div_private_key_file"\
                  />\
                </div>';
        if (_PLUGIN[plugin].private_key_secret){
          _collecte_options += '<div class="form-floating mb-3">\
                  <input\
                    id="run_private_key_secret"\
                    name="private_key_secret"\
                    type="password"\
                    class="form-control"\
                    aria-label="key secret"\
                    autocomplete="off"\
                    placeholder="private key secret"\
                  />\
                  <label \
                    class=""\
                    for="run_private_key_secret">\
                    private key secret\
                  </label>\
                </div>';
        }
        _collecte_options += '</div>';
      }
      $('#collecte_options').html(_collecte_options);
      $('#private_key_file').tooltip();
    }
    
    _display_plugin_options("generaptor_windows");    

    getAllClients();
    getMachineUsage();
    getRunningCollectes();
    
    $('#select_plugin').change(function () {
      _display_plugin_options(this.value);
    });

    $("#loading_div").hide();
    
    $("#submitForm").click(function (e) {
      if (!check_config()) {
        alert("Champs manquant...");
        return false;
      }
      e.preventDefault();
      e.stopPropagation();
      var data = new FormData($("#postData")[0]);
      generate_toast("info_toast", "Sending File...");
      $("#loading_div").show();
      $.ajax({
        xhr: function () {
          var xhr = new window.XMLHttpRequest();
          xhr.upload.addEventListener(
            "progress",
            function (evt) {
              if (evt.lengthComputable) {
                var percentComplete = (evt.loaded / evt.total) * 100;
                //console.log(Math.floor(percentComplete))
                // Place upload progress bar visibility code here
                $("#id_progress_bar")
                  .show()
                  .attr("aria-valuenow", Math.floor(percentComplete));
                $("#id_progress_bar_txt")
                  .css("width", Math.floor(percentComplete) + "%")
                  .html(Math.floor(percentComplete) + "%");
              }
            },
            false
          );
          return xhr;
        },
        beforeSend: function(xhr, settings){
          if(!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain){
            var csrf_token = "{{ csrf_token() }}";
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
          }
        },
        url: "/",
        type: "POST",
        data: data,
        cache: false,
        contentType: false,
        processData: false,
        dataType: "json",
        success: function (res) {
          if (res) {
            $(".custom-file-label").html("");
            if (res.error.length == 0) {
              $("#archive").val(null);
              $("#archive").prop("required", true);
              start_process(res, "{{ csrf_token() }}");
              var txt = "";
              txt = 'Informations:<br><a target="_blank" href="/collecte/'+ res.uuid + '" class="btn btn-outline-primary btn-sm">View details</a>';
              generate_toast("id_triage_"+res.uuid, txt);
            } 
            else {
              console.log("Error: " + res.error);
              var err = res.error;
              $("#main_error_input").remove();
              generate_toast("main_error_input", err, "text-bg-danger");
            }
          }
        },
        error: function (res) {
          if (res) {
            console.log(res);
          }
        },
        complete: function () {
          $("#id_progress_bar").hide();
          $("#loading_div").hide();
          getAllClients();
        },
      });
      
      return false;
    }); // Submit the form

  });

  $("#config").on("change", function () {
    var fileName = $(this).val();
    $(this).next(".custom-file-label").addClass("selected").html(fileName);
  });
  $("#archive").on("change", function () {
    var fileName = $(this).val();
    $(this).next(".custom-file-label").addClass("selected").html(fileName);
  });

  
  $("#standaloneModal_send").click(function (e) {
    e.preventDefault();
    e.stopPropagation();
    if (!check_config_modal()) {
      alert("Champs manquant...");
      return false;
    }
    var data = new FormData();
    data.append("client", $("#standaloneModal_input_client_name").val());
    data.append("hostname", $("#standaloneModal_input_hostname").val());
    data.append("run_plugin", $("#standaloneModal_run_plugin").val());
    data.append("archive", $("#standaloneModal_file").prop("files")[0]);
    generate_toast("info_toast", "Sending File...");
    $("#loading_div").show();
    $("#standaloneModal").modal("hide");
    $.ajax({
      xhr: function () {
        var xhr = new window.XMLHttpRequest();
        xhr.upload.addEventListener(
          "progress",
          function (evt) {
            if (evt.lengthComputable) {
              var percentComplete = (evt.loaded / evt.total) * 100;
              $("#id_progress_bar")
                .show()
                .attr("aria-valuenow", Math.floor(percentComplete));
              $("#id_progress_bar_txt")
                .css("width", Math.floor(percentComplete) + "%")
                .html(Math.floor(percentComplete) + "%");
            }
          },
          false
        );
        return xhr;
      },
      beforeSend: function(xhr, settings){
        if(!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain){
          var csrf_token = "{{ csrf_token() }}";
          xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
      },
      url: "/standalone_input_file",
      type: "POST",
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      dataType: "json",
      success: function (res) {
        if (res) {
          var txt = "";
          if (res.error) {
            console.log(res)
            generate_toast("error_standalone", res.error, "text-bg-danger");
          }
          else{
            txt = 'Informations:<br><a target="_blank" href="/collecte/'+ res.uuid + '" class="btn btn-outline-primary btn-sm">View details</a>';
            generate_toast("id_triage_"+res.uuid, txt);
            $(".custom-file-label").html("");
            start_process(res, "{{ csrf_token() }}");
          }
        }
      },
      error: function (res) {
        if (res) {
          console.log(res);
        }
      },
      complete: function () {
        $("#id_progress_bar").hide();
        $("#loading_div").hide();
      },
    });
    return false;
  });
  // schedule the first invocation:
  setInterval(getMachineUsage, 30000);
  setInterval(getAllClients, 60000);
  setInterval(getRunningCollectes, 60000);
</script>
{% endblock %}

