{% extends 'base.html' %}

{% block main_container %} 
<div class="row">
  <div class="col mb-4">
    <div
      id="collecte_infos"
      class="my-3 p-3 bg-white rounded box-shadow card"
    >
      <div class="card-body">
        <h5 class="card-title">
          Informations sur la collecte
          <span
            class="badge rounded-pill text-bg-light"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-title="Création automatique du sketch dans Timesketch"
            >?</span
          >
        </h5>
        <form
          id="postData"
          name="postData"
          method="post"
          enctype="multipart/form-data"
        >
          <div id="config_properties">
            <div class="form-floating mb-3">
              <input
                id="input_client_name"
                name="client"
                type="text"
                class="form-control"
                aria-label="nom du client"
                autocomplete="off"
                placeholder="Client"
                required
                autofocus
              />
              <label for="input_client_name">Client</label>
            </div>

            <div class="form-floating mb-3">
              <input
                id="input_hostname"
                name="hostname"
                type="text"
                class="form-control"
                aria-label="hostname de la machine collectée"
                autocomplete="off"
                placeholder="Hostname"
                required
              />
              <label for="input_hostname">Hostname machine</label>
            </div>

            <div class="mb-3">
              <div id="div_plugin_selection_description" class="form-text mb-1">Type de collecte:</div>
              <select id="select_plugin" name="selected_plugin" class="form-select" aria-label="Collection type selector">
                <option selected value="generaptor">Generaptor</option>
                <option value="kape">Kape</option>
                <option value="orc">DFIR-Orc</option>
                <option value="mail">Mail</option>
                <option value="o365">DFIR-O365RC</option>
                <option value="uac">UAC</option>
                <option value="adtimeline">ADTimeline</option>
                <option value="adaudit">ADAudit</option>
                <option value="volatility">Volatility</option>
              </select>
            </div>

            <div id="windows_sub_modules" class="form-floating mb-3 generaptor_plugin kape_plugin orc_plugin" style="display: none">
              <div id="windows_options_description" class="form-text mb-1">Options disponibles:</div>
              <ul
                id="ul_windows_sub_modules"
                class="list-group mb-2 generaptor_sub_modules kape_sub_modules orc_sub_modules"
              >
                <li class="list-group-item generaptor_sub_modules kape_sub_modules orc_sub_modules">
                  <input
                    id="run_windows_evtx"
                    name="windows_evtx"
                    class="form-check-input me-1 generaptor_sub_modules kape_sub_modules orc_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_windows_evtx"
                    >EVTX</label
                  >
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input generaptor_sub_modules kape_sub_modules orc_sub_modules"
                      type="checkbox"
                      role="switch"
                      id="windows_evtx_winlogbeat"
                      name="windows_evtx_winlogbeat"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="windows_evtx_winlogbeat"
                      >Use WinlogBeat</label
                    >
                  </div>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input generaptor_sub_modules kape_sub_modules orc_sub_modules"
                      type="checkbox"
                      role="switch"
                      id="windows_hayabusa"
                      name="windows_hayabusa"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="windows_hayabusa"
                      >Hayabusa</label
                    >
                  </div>
                </li>
                <li class="list-group-item generaptor_sub_modules kape_sub_modules orc_sub_modules">
                  <input
                    id="run_windows_iis"
                    name="windows_iis"
                    class="form-check-input me-1 generaptor_sub_modules kape_sub_modules orc_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_windows_iis"
                    >IIS</label
                  >
                </li>
                <li class="list-group-item generaptor_sub_modules kape_sub_modules orc_sub_modules">
                  <input
                    id="run_windows_timeline"
                    name="windows_timeline"
                    class="form-check-input me-1 generaptor_sub_modules kape_sub_modules orc_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_windows_timeline"
                    >Plaso Timeline</label
                  >
                </li>
                <li class="list-group-item generaptor_sub_modules kape_sub_modules orc_sub_modules">
                  <input
                    id="run_windows_registry"
                    name="windows_registry"
                    class="form-check-input me-1 generaptor_sub_modules kape_sub_modules orc_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_windows_registry"
                    >Registry</label
                  >
                </li>
                <li class="list-group-item generaptor_sub_modules kape_sub_modules orc_sub_modules">
                  <input
                    id="run_windows_mft"
                    name="windows_mft"
                    class="form-check-input me-1 generaptor_sub_modules kape_sub_modules orc_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_windows_mft"
                    >MFT</label
                  >
                </li>
                <li class="list-group-item generaptor_sub_modules kape_sub_modules orc_sub_modules">
                  <input
                    id="run_windows_usnjrnl"
                    name="windows_usnjrnl"
                    class="form-check-input me-1 generaptor_sub_modules kape_sub_modules orc_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_windows_usnjrnl"
                    >UsnJrnl</label
                  >
                </li>
                <li class="list-group-item generaptor_sub_modules kape_sub_modules orc_sub_modules">
                  <input
                    id="run_windows_prefetch"
                    name="windows_prefetch"
                    class="form-check-input me-1 generaptor_sub_modules kape_sub_modules orc_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_windows_prefetch"
                    >Prefetch</label
                  >
                </li>
                <li class="list-group-item generaptor_sub_modules kape_sub_modules">
                  <input
                    id="run_windows_mplog"
                    name="windows_mplog"
                    class="form-check-input me-1 generaptor_sub_modules kape_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_windows_mplog"
                    >MPLog</label
                  >
                </li>
                <li class="list-group-item generaptor_sub_modules kape_sub_modules">
                  <input
                    id="run_windows_activitiescache"
                    name="windows_activitiescache"
                    class="form-check-input me-1 generaptor_sub_modules kape_sub_modules"
                    type="checkbox"
                    value=""
                    checked
                  />
                  <label class="form-check-label" for="run_windows_activitiescache"
                    >ActivitiesCache</label
                  >
                </li>
                <li class="list-group-item generaptor_sub_modules kape_sub_modules">
                  <input
                    id="run_windows_recyclebin"
                    name="windows_recyclebin"
                    class="form-check-input me-1 generaptor_sub_modules kape_sub_modules"
                    type="checkbox"
                    value=""
                    checked
                  />
                  <label class="form-check-label" for="run_windows_recyclebin"
                    >Recycle Bin</label
                  >
                </li>
                <li class="list-group-item generaptor_sub_modules">
                  <input
                    id="run_generaptor_linux"
                    name="generaptor_linux"
                    class="form-check-input me-1 generaptor_plugin"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_generaptor_linux"
                    >Generaptor Linux
                    <span
                    class="badge rounded-pill text-bg-light generaptor_sub_modules"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                    data-bs-title="Will execute Filebeat against logs files"
                    >?</span>
                  </label>
                </li>
              </ul>
              <div id="generaptor_options" class="generaptor_plugin" style="display: none">
                <div id="div_generaptor_private_key_file" class="form-text mb-1 generaptor_plugin">Clé privée de la collecte</div>
                <div class="input-group mb-3">
                  <input
                    class="form-control generaptor_plugin"
                    type="file"
                    id="run_generaptor_private_key_file"
                    name="generaptor_private_key_file"
                    accept=".pem"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    data-bs-title="Private key file (.pem)"
                    aria-describedby="div_generaptor_private_key_file"
                  />
                </div>
                <div class="form-floating mb-3">
                  <input
                    id="run_generaptor_private_key_secret"
                    name="generaptor_private_key_secret"
                    type="password"
                    class="form-control generaptor_plugin"
                    aria-label="key secret"
                    autocomplete="off"
                    placeholder="private key secret"
                  />
                  <label 
                    class="generaptor_plugin"
                    for="run_generaptor_private_key_secret">
                    private key secret
                  </label>
                </div>
              </div>

              <div id="orc_options" class="orc_plugin" style="display: none">
                <div id="div_run_orc_certfile" class="form-text mb-1 orc_plugin" style="display: none">Clé privée de la collecte</div>
                <div class="input-group">
                  <input
                    class="form-control orc_plugin"
                    type="file"
                    id="run_orc_certfile"
                    name="orc_keyfile"
                    accept=".pem"
                    style="display: none"
                    aria-describedby="div_run_orc_certfile"
                  />
                </div>
              </div>
            </div>

            <div id="mail_sub_modules" class="form-floating mb-3 mail_sub_modules" style="display: none">
              <div id="mail_options_description" class="form-text mb-1">Options disponibles:
              </div>
              <ul id="ul_mail_sub_modules" class="list-group">
                <li class="list-group-item">
                  <input
                    id="run_mail_attachments"
                    name="mail_attachments"
                    class="form-check-input me-1 mail_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label class="form-check-label" for="run_mail_attachments"
                    >Extract attachments</label
                  >
                </li>
              </ul>
            </div>
            
            <div id="uac_sub_modules" class="form-floating mb-3 uac_sub_modules" style="display: none">
              <div id="uac_options_description" class="form-text mb-1">Options disponibles:
              </div>
              <ul
                id="ul_uac_sub_modules"
                class="list-group"
              >
                <li class="list-group-item">
                  <input
                    id="run_uac_filebeat"
                    name="uac_filebeat"
                    class="form-check-input me-1 uac_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_uac_filebeat"
                    >Filebeat</label
                  >
                </li>
                <li class="list-group-item">
                  <input
                    id="run_uac_timeline"
                    name="uac_timeline"
                    class="form-check-input me-1 uac_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_uac_timeline"
                    >Plaso Timeline</label
                  >
                </li>
              </ul>
            </div>

            <div id="volatility_sub_modules" class="form-floating mb-3 volatility_sub_modules" style="display: none">
              <div id="volatility_options_description" class="form-text mb-1">Options disponibles:
              </div>
              <ul
                id="ul_volatility_sub_modules"
                class="list-group"
              >
                <li class="list-group-item">
                  <input
                    id="run_volatility_pslist"
                    name="volatility_pslist"
                    class="form-check-input me-1 volatility_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_volatility_pslist"
                    >Windows pslist</label
                  >
                </li>
                <li class="list-group-item">
                  <input
                    id="run_volatility_pstree"
                    name="volatility_pstree"
                    class="form-check-input me-1 volatility_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_volatility_pstree"
                    >Windows pstree</label
                  >
                </li>
                <li class="list-group-item">
                  <input
                    id="run_volatility_netscan"
                    name="volatility_netscan"
                    class="form-check-input me-1 volatility_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_volatility_netscan"
                    >Windows netscan</label
                  >
                </li>
                <li class="list-group-item">
                  <input
                    id="run_volatility_netstat"
                    name="volatility_netstat"
                    class="form-check-input me-1 volatility_sub_modules"
                    type="checkbox"
                    value=""
                  />
                  <label
                    class="form-check-label"
                    for="run_volatility_netstat"
                    >Windows netstat</label
                  >
                </li>
              </ul>
            </div>
            
          </div>
          <div id="div_description_collecte" class="form-text mb-1">Fichier de collecte de la machine
            <span
                class="badge rounded-pill text-bg-light generaptor_plugin"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-title="Expected Generaptor generated ZIP archive"
                style="display: none;"
                >?</span>
                <span
                class="badge rounded-pill text-bg-light kape_plugin"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-title="Expected ZIP archive containing VHDX file"
                style="display: none;"
                >?</span>
                <span
                class="badge rounded-pill text-bg-light orc_plugin"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-title="Expected DFIR-ORC generated 7z archive, if encrypted give private key"
                style="display: none;"
                >?</span>
                <span
                class="badge rounded-pill text-bg-light mail_plugin"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-title="Expected ZIP archive containing PST/MBOX files"
                style="display: none;"
                >?</span>
                <span
                class="badge rounded-pill text-bg-light o365_plugin"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-title="Expected ZIP archive produced by DFIR-O365RC"
                style="display: none;"
                >?</span>
                <span
                class="badge rounded-pill text-bg-light uac_plugin"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-title="Expected TAR archive"
                style="display: none;"
                >?</span>
                <span
                class="badge rounded-pill text-bg-light adtimeline_plugin"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-title="Expected CSV file"
                style="display: none;"
                >?</span>
                <span
                class="badge rounded-pill text-bg-light adaudit_plugin"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-title="Expected ADAudit generated ZIP archive"
                style="display: none;"
                >?</span>
                <span
                class="badge rounded-pill text-bg-light volatility_plugin"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-title="Expected memory dump file"
                style="display: none;"
                >?</span>
          </div>
          <div id="archive_file" class="input-group mb-3">
            <input
              class="form-control"
              type="file"
              id="archive"
              name="archive"
              accept=".zip, .tar, .tar.gz, .csv, .raw, .7z, .7z.p7b"
              aria-describedby="div_description_collecte"
              required
            />
          </div>
          
          <button
            id="submitForm"
            class="btn btn-outline-primary my-2 my-sm-0"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>


  <div class="col mb-4">
    <div class="col">
      <div
        id="standalone_collecte"
        class="my-3 p-3 bg-white rounded box-shadow card"
        style="text-align: center"
      >
        <h5 class="card-title">Analyse rapide</h5>
        <div id="stabndalone_collect_card_body" class="card-body">
          <!-- Button trigger modal -->
          <pre style="text-align: left">
        Section pour envoyer sur ELK:
        - Fichier JSONL de résultats Hayabusa
        - Archive ZIP contenant des fichiers EVTX (parsing Winlogbeat OU python)
        - Archive ZIP contenant des logs Fortinet (parsing Filebeat)
        - Archive ZIP contenant des logs Forcepoint (parsing Filebeat)
        <span class="badge text-bg-warning" style="display:none">Attention au parsing</span> <span class="badge text-bg-light">Regex: (\w+)=(?:"([^"]*)"|(\S+))</span>
        </pre>
          <button
            type="button"
            class="btn btn-outline-primary"
            data-bs-toggle="modal"
            data-bs-target="#standaloneModal"
          >
            Envoyer fichier
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="standaloneModal"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="standaloneModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="standaloneModalLabel">
                    Standalone file
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div id="standaloneModal_config_properties">
                    <div class="form-floating mb-3">
                      <!-- <span class="input-group-text" for="standaloneModal_input_client_name">Client</span > -->
                      <input
                        id="standaloneModal_input_client_name"
                        name="client"
                        type="text"
                        class="form-control"
                        autocomplete="off"
                        placeholder="Client"
                        required
                      />
                      <label for="standaloneModal_input_client_name"
                        >Client</label
                      >
                    </div>
                    <div class="form-floating mb-3">
                      <input
                        id="standaloneModal_input_hostname"
                        name="hostname"
                        type="text"
                        class="form-control"
                        aria-label="hostname de la machine collectée"
                        autocomplete="off"
                        placeholder="Hostname"
                        required
                      />
                      <label for="standaloneModal_input_hostname"
                        >Hostname</label
                      >
                    </div>

                    <div class="form-floating mb-3">
                      <select
                        class="form-select"
                        id="standaloneModal_run_plugin"
                        placeholder="Plugin"
                        required
                      >
                        <option selected value="hayabusa">
                          Hayabusa
                        </option>
                        <option value="evtxparser">EVTX</option>
                        <option value="winlogbeat">WinlogBeat</option>
                        <option value="fortinet">Fortinet</option>
                        <option value="forcepoint">Forcepoint</option>
                      </select>
                      <label for="standaloneModal_run_plugin"
                        >Plugin</label
                      >
                      <div class="invalid-feedback">
                        Please select a valid plugin.
                      </div>
                    </div>
                    <div id="div_standaloneModal_file" class="form-text mb-1" style="text-align: left;">Fichier de collecte</div>
                    <div
                      id="standaloneModal_div_file"
                      class="input-group mb-3"
                    >
                      <input
                        class="form-control"
                        type="file"
                        id="standaloneModal_file"
                        name="archive"
                        accept=".json, .jsonl, .zip"
                        required
                        aria-describedby="div_standaloneModal_file"
                      />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    id="standaloneModal_close"
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    id="standaloneModal_send"
                    type="button"
                    class="btn btn-outline-primary"
                  >
                    Run
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        id="main_running_collecte_div"
        class="col my-3 p-3 bg-white rounded box-shadow card"
        style="text-align: center"
      >
        <h5 class="card-title">Collectes en cours de traitement</h5>
        <div id="running_collecte_div" class="card-body"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block all_logs %}

{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    const popoverTriggerList = document.querySelectorAll(
      '[data-bs-toggle="popover"]'
    );
    const popoverList = [...popoverTriggerList].map(
      (popoverTriggerEl) => new bootstrap.Popover(popoverTriggerEl)
    );
    const tooltipTriggerList = document.querySelectorAll(
      '[data-bs-toggle="tooltip"]'
    );
    const tooltipList = [...tooltipTriggerList].map(
      (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
    );
    
    const PLUGINS = ["kape", "uac", "hayabusa", "adtimeline", "volatility", "o365", "adaudit", "generaptor", "orc", "mail"];
    
    display_plugin_options("generaptor");
    $('#run_generaptor_linux').prop("checked", false);
    $("#run_hayabusa").prop("checked", true);

    getAllClients();
    getMachineUsage();
    getRunningCollectes();
    
    $('#select_plugin').change(function () {
      display_plugin_options(this.value);
    });

    $('#run_generaptor_linux').change(function(){
      if(this.checked){
        $(".kape_sub_modules").prop("checked", false);
        $(".kape_sub_modules").prop("disabled", true);
        $("#run_windows_timeline").prop("disabled", false);
      }
      else{
        $(".kape_sub_modules").prop("checked", true);
        $(".kape_sub_modules").prop("disabled", false);
      }
    });

    $("#loading_div").hide();
    
    $("#submitForm").click(function (e) {
      if (!check_config()) {
        alert("Champs manquant...");
        return false;
      }
      e.preventDefault();
      e.stopPropagation();
      var data = new FormData($("#postData")[0]);
      generate_toast("info_toast", "Sending File...");
      $("#loading_div").show();
      $.ajax({
        xhr: function () {
          var xhr = new window.XMLHttpRequest();
          xhr.upload.addEventListener(
            "progress",
            function (evt) {
              if (evt.lengthComputable) {
                var percentComplete = (evt.loaded / evt.total) * 100;
                //console.log(Math.floor(percentComplete))
                // Place upload progress bar visibility code here
                $("#id_progress_bar")
                  .show()
                  .attr("aria-valuenow", Math.floor(percentComplete));
                $("#id_progress_bar_txt")
                  .css("width", Math.floor(percentComplete) + "%")
                  .html(Math.floor(percentComplete) + "%");
              }
            },
            false
          );
          return xhr;
        },
        url: "/",
        type: "POST",
        data: data,
        cache: false,
        contentType: false,
        processData: false,
        dataType: "json",
        success: function (res) {
          if (res) {
            var txt = "";
            txt = "Id de triage: " + res.uuid + "<br>";
            generate_toast("id_triage", txt);
            $(".custom-file-label").html("");
            if (res.error.length == 0) {
              $("#archive").val(null);
              $("#archive").prop("required", true);
              start_process(res);
            } 
            else {
              console.log("Error: " + res.error);
              var err = res.error;
              $("#main_error_input").remove();
              generate_toast("main_error_input", err, "text-bg-danger");
            }
          }
        },
        error: function (res) {
          if (res) {
            console.log(res);
          }
        },
        complete: function () {
          $("#id_progress_bar").hide();
          $("#loading_div").hide();
          getAllClients();
        },
      });
      
      return false;
    }); // Submit the form

    function display_plugin_options(plugin)
    {
      //Hide plugins options
      for (var _p=0; _p < PLUGINS.length; _p++) {
        $("."+PLUGINS[_p]+"_plugin").hide();
        $("#run_"+PLUGINS[_p]).prop("checked", false);
        try{
          $("#run_"+PLUGINS[_p]+"_private_key_file").prop("required", false);
        }
        catch(err){ console.log(err);}
        try{
          $("#run_"+PLUGINS[_p]+"_private_key_secret").prop("required", false);
        }
        catch(err){ console.log(err);}
        try{
          $("."+PLUGINS[_p]+"_sub_modules").hide();
          $("."+PLUGINS[_p]+"_sub_modules").prop("disabled", false);
        }
        catch(err){ console.log(err);}
        try{
          $("."+PLUGINS[_p]+"_sub_modules").prop("checked", false);
        }
        catch(err){ console.log(err);}
      
      }

      //Show selected plugin options
      $("."+plugin+"_plugin").show();
      try{
        $("#run_"+plugin+"_private_key_file").prop("required", true);
      }
      catch(err){ console.log(err);}
      try{
        $("#run_"+plugin+"_private_key_secret").prop("required", true);
      }
      catch(err){ console.log(err);}
      try{
        $("."+plugin+"_sub_modules").show();
      }
      catch(err){ console.log(err);}
      try{
        $("."+plugin+"_sub_modules").prop("checked", true);
      }
      catch(err){ console.log(err);}

      $('#run_generaptor_linux').prop("checked", false);
    }
  });

  $("#config").on("change", function () {
    var fileName = $(this).val();
    $(this).next(".custom-file-label").addClass("selected").html(fileName);
  });
  $("#archive").on("change", function () {
    var fileName = $(this).val();
    $(this).next(".custom-file-label").addClass("selected").html(fileName);
  });

  
  $("#standaloneModal_send").click(function (e) {
    e.preventDefault();
    e.stopPropagation();
    if (!check_config_modal()) {
      alert("Champs manquant...");
      return false;
    }
    var data = new FormData();
    data.append("client", $("#standaloneModal_input_client_name").val());
    data.append("hostname", $("#standaloneModal_input_hostname").val());
    data.append("run_plugin", $("#standaloneModal_run_plugin").val());
    data.append("archive", $("#standaloneModal_file").prop("files")[0]);

    generate_toast("info_toast", "Sending File...");
    $("#loading_div").show();
    $("#standaloneModal").modal("hide");
    $.ajax({
      xhr: function () {
        var xhr = new window.XMLHttpRequest();
        xhr.upload.addEventListener(
          "progress",
          function (evt) {
            if (evt.lengthComputable) {
              var percentComplete = (evt.loaded / evt.total) * 100;
              $("#id_progress_bar")
                .show()
                .attr("aria-valuenow", Math.floor(percentComplete));
              $("#id_progress_bar_txt")
                .css("width", Math.floor(percentComplete) + "%")
                .html(Math.floor(percentComplete) + "%");
            }
          },
          false
        );
        return xhr;
      },
      url: "/standalone_input_file",
      type: "POST",
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      dataType: "json",
      success: function (res) {
        if (res) {
          var txt = "";
          if (res.error) {
            for (let i = 0; i < res.error.length; i++) {
              var err = res.error[i].name + " : ";
              err += res.error[i].status;
              generate_toast("error_" + i, err, "text-bg-danger");
            }
          }
          txt = "Id de triage: " + res.uuid + "<br>";
          generate_toast("id_triage", txt);
          $(".custom-file-label").html("");
          start_process(res);
        }
      },
      error: function (res) {
        if (res) {
          console.log(res);
        }
      },
      complete: function () {
        $("#id_progress_bar").hide();
        $("#loading_div").hide();
      },
    });
    return false;
  });
  // schedule the first invocation:
  setInterval(getMachineUsage, 30000);
  setInterval(getAllClients, 60000);
  setInterval(getRunningCollectes, 60000);
</script>
{% endblock %}
